
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: white;
  margin: 0;

}

  
/* projects page */


.projects{
  position: relative;
  left: 20px;
  top: 120px;
  background: #F0F0F0;
  height: 80vh;
  width: 80%;
  min-width: 400px;
  overflow: auto;
  padding: 40px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  z-index: 1;
}

.project-details{
  word-break: break-all;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 10px ;
  justify-items: center;
  align-items: center;
  padding: 20px 0;
  
}

.project-details Button{
  word-break: keep-all;
  position: relative;
  bottom: 8px;
}



.description{
  
  
  min-width: 150px;
  overflow: auto;

}

.title{
  position: absolute;
  top:3px;
  left: 335x;
  z-index: 1;
  

}
.projects h2{
  position: absolute;
  top:-20px
}



/* sidebar */
.sidebar a{
  color: white;
}











  /* Forms */


  label, input {
    display: block;
  }
  input,textarea,select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 4px;
    cursor: pointer;
  }


  
.role {
  display: flex;
  margin-bottom: 20px;
  

}
.role input{
  margin-top: 6px;
  margin-right: 7px;
  
}




.checkrole {
  display: flex;
  justify-content: space-evenly;
   }














/* auth forms */

form.signup, form.login {

  position: relative;
  top: 15vh;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

form .container{
  position: relative;
  left: 60px;
}

