
/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: white;
  margin: 0;
  padding: 0;

}

.error{
  color: red;
}

/* wrapper */
.wrapper{
  display: flex;
  height: 100vh;

}


  
/* projects page */

.projects{
  position: relative;
  left: 20px;
  top: 120px;
  height: 50vh;
  width: 80%;
  min-width: 400px;
  padding: 0 10px;


}


 .projects-title{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.projects-header{
  background: #F0F0F0;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  grid-column-gap: 10px ;
  justify-items: start;
  align-items: center;
  padding: 0 10px;
  padding-top: 5px;

}

.projects-body{
  background: #F0F0F0;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  height: 500px;
  overflow: auto;
  border-radius: 6px;
  padding: 0 10px;
  
}


.project-details{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  grid-column-gap: 20px ;
  justify-items: start;
  align-items: center;
  word-break: break-all;
  z-index: 5;

}


.description{
  
  
  min-width: 150px;
  overflow: auto;

}





/* project details page */

.tickets-team-comments{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 20px;
  top: 120px;
  height: 50vh;
  width: 80%;
  min-width: 400px;
  

}
.tickets{
  width: 90%;

}

.tickets-body{
  background: #F0F0F0;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  height: 400px;
  overflow: auto;
  

}
.tickets-body , .tickets-title{
  padding:10px;
  border-radius: 4px;
  
}

.tickets-title{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  grid-column-gap: 10px ;
  justify-items: start;
  align-items: center;
  background: #F0F0F0;

}



.ticket-details{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  grid-column-gap: 10px ;
  justify-items: start;
  align-items: center;
  z-index: 5;
}

.team{
  min-width: 200px;
  position: relative;
  left: 20px;
}


.team-body{

  background: #F0F0F0;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  overflow: auto;
  height: 300px;
  padding:10px 20px;
  border-radius: 4px;
  
}
.team-footer{
  background-color:  #F0F0F0;
  padding-bottom: 20px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
  border-radius: 4px;
}


.team-members{
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-column-gap: 20px ;
  margin: 10px 0;
}
.team-members button{
  width:100px
}



.create{
  margin: 0 10px;
  padding-bottom: 10px;
  
}
.create .error{
  position: relative;
  top: 15px;
}




/* Ticket details and Comments */

.ticket-comments{
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-column-gap: 20px;
  justify-items: start;
  background-color: #F0F0F0;
  padding-top: 100px;
  padding-left: 40px;
}

.comments{
  padding-left: 40px;
}

.comments-header{
  padding-bottom: 40px;
}


.comments-body{
  
  background-color: white;
  width: 800px;
  min-width: 400px;
  height: 400px;
  overflow: auto;
  border: 2px solid black;
  padding: 0 20px
}

.create-comment{
  display: block;
}


.comment{
  display: flex;
  word-break: break-all;
  

}







  /* Forms */


  label, input {
    display: block;
  }
  input,textarea,select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  form button {
    background: #424649;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    top: 10px;

  }


  
.role {
  display: flex;
  margin-bottom: 20px;
  

}
.role input{
  margin-top: 6px;
  margin-right: 7px;
  
}




.checkrole {
  display: flex;
  justify-content: space-evenly;
   }














/* auth forms */

form.signup, form.login {

  position: relative;
  top: 15vh;
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background: rgb(244, 242, 242);
  border-radius: 10px;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.1);
}
form.signup button, form.login button{
  position: relative;
  top: 10px;
  left: 130px;
  width: 5em;
  
}

form .container{
  position: relative;
  left: 75px;
}

.background{
  position: absolute;
  opacity: 0.8;
  width: 100vw;
  height: 50vh;
  top:-83px;
  z-index: -1;
}


.account-check{
  position: relative;
  top: 20px;
  left: 50px;
}